<head>
    <title>FF Blog-About us</title>
  </head>
  
  <%- include("partials/header.ejs") %>

<div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="55" height="55" fill="red" class="bi bi-heart-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
      </svg>
    <h1 class="text-primary">About us</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
        This is a blog website that keeps you posted and updated on the latest and awesome news in town. We have various sections in our blog such as entertainment, education, lifestyle, travels, science and technology and all other various sections. We promise you, you'ld have have a wonderful time while using this website.
    </p>
</div>

  <%- include("partials/footer.ejs") %>