<head>
    <title>Creditors</title>
  </head>
  
  <%- include("partials/header.ejs") %>

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4 profile" src="/images/profile.jpg" alt="" width="200" height="200">
    <h1 class="display-5 fw-bold text-primary ">Creditor</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Hello there, I'm Abodunde Oluwaferanmi. I am the creator and the designer of this website, FF Blog. FF Blog is just a mock up version of a blog website. I am willing to grow and develop more as I learn.</p>
    </div>
  </div>

  <%- include("partials/footer.ejs") %>